<div class="row mb-2 pt-2">
    <div class="col-md-12">
        <h4 class="block-title">
            <span class="">{{ title|upper }}
            </span>
        </h4>
        <div id="trending_home" class="row owl-carousel owl-theme">
            <div class="row">
                {% for key,item in data %}
                    {% if item.slug != object.slug %}
                    <div class="col-md-12 col-lg-4">
                        <div class="card border-light shadow-0">
                            <a href="{{item.uri}}" class="">
                                <img src="{{item.file}}" class="img-fluid rounded" style="max-height: 150px;" alt="{{item.uri}}"/>
                            </a>
                            
                            <div class="card-body">
                              <h5 class="title">{{item.title|title|u.truncate(45, '...')}}</h5>
                              <div class="meta-info mb-2">
                                <section class="d-flex justify-content-lg-between">
                                    <!-- Left -->
                                    <div class="me-5 d-none d-lg-block">
                                        <span class="">{{ item.created_at|format_datetime('full', 'none', locale='fr') }}</span>
                                    </div>
                        
                                    <div class="float-right text-muted">
                                        <i class="fa fa-eye"></i> {{item.viewed}}
                                    </div>
                                  </section>
                              </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
