{% include 'blocks/trending.twig' with {'data': alaune} %}

<div class="wrapper_separator"></div>

{% include 'blocks/politique.twig' with {'data': politique, 'pub': annonce} %}

<div class="wrapper_separator"></div>

{% include 'blocks/block.twig' with {'data': societe, title: 'Société'} %}

<div class="wrapper_separator"></div>

{% include 'blocks/block-two-main.twig' with {'data': economie, 'data2': faitsDivers, titles: ['économie', 'faits divers']} %}

<div class="wrapper_separator"></div>

{% include 'blocks/block-only-main-carousel.twig' with {'data': sport, title: 'sport'} %}

<div class="wrapper_separator"></div>

{% include 'blocks/block.twig' with {'data': culture, title: 'Culture'} %}

<div class="wrapper_separator"></div>

{% include 'blocks/block-two-main.twig' with {'data': inter, 'data2': videos, titles: ['Inter', 'vidéos']} %}
