/*
|--------------------------------------------------------------------------
| Coddyger - PHP Framework
|--------------------------------------------------------------------------
|
| Authors :: UltronDev
| Authors Url :: https://www.ultrondev.com/
|
*/
@import url('http://fonts.cdnfonts.com/css/roboto');

body {
    font-family: 'Roboto',Arial,sans-serif !important; 
    font-size: 14px;
    margin: 0;
    background-image: url("/assets/img/bg.png");
    background-attachment: fixed;
}

h1,h2,h3,h4,h5,h6,a,span,p, blockquote, pre, b { 
    font-family: 'Roboto',Arial,sans-serif !important; 
}

.mainColor {
    color: #00A7E3 !important;
}
.mainBg {
    background-color: #00A7E3 !important;
}

#main {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #ffffff;
}
#content {
    min-height: 500px;
}

.debug {
    border: 1px dotted red;
}

.topnav {
    /* background-color: #F4F4F4; */
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #F4F4F4;
}
.midnav {
    min-height: 100px;
    background-color: #ffffff;
    border-bottom: 2px solid #F4F4F4;
}

.block-title span {
    font-family: open sans,arial,sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    background-color: #222;
    border-radius: 3px;
    padding: 2px 15px;
    position: relative;
    display: inline-table;
    vertical-align: middle;
    line-height: 16px;
    top: -2px;
}

.wrapper_separator {
    background-color: #F5F5F5;
    min-height: 10px;
    margin-bottom: 10px;
}

.zoom {
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.trending-row {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
  .row.trending-row {
    display: flex;
    flex-wrap: wrap;
  }
}

.post-details {
    margin-top: 1%;
}

.post-details .title {
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    color: #222;
    margin: 6px 0 7px 0;
    word-wrap: break-word;
}

.post-details .content {
    line-height: 40px;
    margin: 6px 0 7px 0;
    word-wrap: break-word;
}

.post-details nav h6 {
    font-size: smaller;
}

/* MDB CUSTOM */

.navbar {
    background-color: #00A7E3 !important;
}
.navbar .menu li a, .navbar .menu-right .contact-us {
    color: #ffffff !important;
    font-weight: 900;
    text-transform: uppercase !important;
    font-size: 14px;
    line-height: 21px;
}


