/*
|--------------------------------------------------------------------------
| Coddyger - PHP Framework
|--------------------------------------------------------------------------
|
| Authors :: UltronDev
| Authors Url :: https://www.ultrondev.com/
|
*/

.nopadding {
    padding: 0 !important;
}

.noborderRadius {
    border-radius: 0;
}

.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0rem!important;
}

.card-body .title{
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    margin-top: 10px;
}

.card-body .resume{
    margin-bottom: 15px;
    color: #444;
    font-size: 12px;
    line-height: 18px;
}

.card-body .meta-info {
    line-height: 11px;
}

.card-body .meta-info {
    font-family: open sans,arial,sans-serif;
    font-size: 11px;
    color: #444;
    line-height: 16px;
}

.view-count {
    color: #fff;
    padding: 2px 4px 3px;
    display: inline-block;
    min-width: 22px;
    height: 20px;
    line-height: 16px;
    background: 0 0;
}

.news-card__title2 {
    transition: color 1s ease;
    margin-bottom: .3rem;
    font-size:small;
}
