{% if data != null %}
    <div class="row mt-4 mb-3">
        <!--Grid column-->
        <div
            class="col-md-8 mb-4">
            <!--Section: Post data-mdb-->
            <section class="border-bottom mb-4">
                <div class="row post-details">
                    <div class="col-md-12">
                        <div>
                            <nav class="d-flex text-muted">
                                <h6 class="mb-0">
                                    <a href="/" class="text-reset">Accueil</a>
                                    <span>
                                        <i class="fas fa-caret-right"></i>
                                    </span>
                                    <a href="#" class="text-reset">{{ data.category.title }}</a>
                                    <span>
                                        <i class="fas fa-caret-right"></i>
                                    </span>
                                    <span class="">
                                        <b>{{ data.title|title }}</b>
                                    </span>
                                </h6>
                            </nav>
                            <span class="badge mainBg">
                                {{ data.category.title|upper }}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <h4 class="title">
                            {{ data.title|title }}
                        </h4>
                        <div class="meta-info">
                            {{ data.created_at|format_datetime('full', 'none', locale='fr') }}
                            -
                            <i class="fa fa-eye"></i>
                            {{ data.viewed }}
                        </div>
                        <div class="wrapper_separator"></div>
                    </div>
                </div>

                <div class="col-md-12 text-center">
                    <img src="{{ data.file }}" class="img-fluid shadow-2-strong rounded-5 mb-4" alt=""/>
                </div>

                <div class="row align-items-center mb-4">
                    <div class="col-lg-6 text-center text-lg-start mb-3 m-lg-0">
                        <img src="{{ data.user.file }}" class="rounded-5 shadow-1-strong me-2" height="35" alt="" loading="lazy"/>
                        <span>
                            Publié le
                            <u>{{ data.created_at|format_datetime('short', 'none', locale='fr') }}</u>
                            par</span>
                        <a href="" class="text-dark">{{ data.user.lastname }}</a>
                    </div>

                    <div class="col-lg-6 text-center text-lg-end">
                        <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #3b5998;">
                            <i class="fab fa-facebook-f"></i>
                        </button>
                        <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #55acee;">
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button type="button" class="btn btn-primary px-3 me-1" style="background-color: #0082ca;">
                            <i class="fab fa-linkedin"></i>
                        </button>
                        <button type="button" class="btn btn-primary px-3 me-1">
                            <i class="fas fa-comments"></i>
                        </button>
                    </div>
                </div>
            </section>
            <!--Section: Post data-mdb-->

            <!--Section: Text-->
            <section>
                {{ data.content|raw }}
            </section>
            <!--Section: Text-->

            <!--Section: Share buttons-->
            <section class="text-center border-top border-bottom py-4 mb-4">
                <p>
                    <strong>Partager avec vos ami(e)s:</strong>
                </p>

                <a href="https://www.facebook.com/sharer/sharer.php?u={{data.uri}}" target="_blank" class="btn btn-primary me-1" style="background-color: #3b5998;">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="http://twitter.com/share?text={{data.title}}&url={{data.uri}}" target="_blank" class="btn btn-primary me-1" style="background-color: #55acee;">
                    <i class="fab fa-twitter"></i>
                </a>
                <button type="button" class="btn btn-primary me-1">
                    <i class="fas fa-comments me-2"></i>Add comment
                </button>
            </section>
            <!--Section: Share buttons-->

            <section class="">
                {% include 'blocks/related.twig' with {'data': related, 'title': 'Du même genre', 'object': data} %}
                <div class="wrapper_separator"></div>
            </section>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-4 mb-4">
            <!--Section: Sidebar-->
            <section
                class="sticky-top" style="top: 80px;">
                <!--Section: Ad-->
                <section class="text-center border-bottom pb-4 mb-4">
                    <div class="bg-image hover-overlay ripple mb-4">
                        <img src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/content/en/_mdb5/standard/about/assets/mdb5-about.webp" class="img-fluid"/>
                        <a href="https://mdbootstrap.com/docs/standard/" target="_blank">
                            <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                        </a>
                    </div>
                    <h5>Material Design for Bootstrap 5</h5>

                    <p>
                        500+ components, free templates, 1-min installation, extensive tutorial, huge
                                    community. MIT license - free for personal & commercial use
                    </p>
                    <a role="button" class="btn btn-primary" href="https://mdbootstrap.com/docs/standard/" target="_blank">Download for free<i class="fas fa-download ms-2"></i>
                    </a>
                </section>
                <!--Section: Ad-->

                <!--Section: Video-->
                <section class="text-center">
                    <h5 class="mb-4">Learn the newest Bootstrap 5</h5>

                    <div class="embed-responsive embed-responsive-16by9 shadow-4-strong"></div>
                </section>
                <!--Section: Video-->
            </section>
            <!--Section: Sidebar-->
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
{% else %}
    no data
{% endif %}
