{% if data != null %}
    <div class="row">
        <div class="col-md-12 col-lg-8 post-details">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <nav class="d-flex text-muted">
                            <h6 class="mb-0">
                                <a href="/" class="text-reset">Accueil</a>
                                <span>
                                    <i class="fas fa-caret-right"></i>
                                </span>
                                <a href="#" class="text-reset">{{ data.category.title }}</a>
                                <span>
                                    <i class="fas fa-caret-right"></i>
                                </span>
                                <span class="">
                                    <b>{{ data.title|title }}</b>
                                </span>
                            </h6>
                        </nav>
                        <span class="badge mainBg">
                            {{ data.category.title|upper }}
                        </span>
                    </div>
                </div>
                <div class="col-md-12">
                    <h4 class="title">
                        {{ data.title|title }}
                    </h4>
                    <div class="meta-info">
                        {{ data.created_at|format_datetime('full', 'none', locale='fr') }}
                        -
                        <i class="fa fa-eye"></i>
                        {{ data.viewed }}
                    </div>
                    <div class="wrapper_separator"></div>
                </div>

                <div class="col-md-12 text-center">
                    <img src="{{ data.file }}" class="img-fluid rounded"/>
                </div>

                <div class="col-md-12">
                    <div class="content">
                        {{ data.content|raw }}
                    </div>
                    <div class="wrapper_separator"></div>
                </div>

                <div class="col-md-12">
                    {% include 'blocks/related.twig' with {'data': related, 'title': 'Du même genre', 'object': data} %}
                    <div class="wrapper_separator"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4 p-2">
            <div class="row pt-2">
                <div class="col-md-12 mb-2">
                    <h4 class="">
                        Restez en contact
                    </h4>
                    <div class="d-grid gap-2">
                        <a target="_blank" class="btn text-white" style="background-color: #3b5998;" href="{{ sn[0] }}" role="button">
                            <i class="fab fa-facebook-f me-2"></i>
                            Facebook
                        </a>
                        <a target="_blank" class="btn text-white b-block" style="background-color: #55acee;" href="{{ sn[1] }}" role="button">
                            <i class="fab fa-twitter me-2"></i>
                            Twitter
                        </a>
                    </div>
                </div>

                <div class="col-md-12">
                    <h4 class="block-title">
                        <span class="">{{ 'Ajouts récents'|upper }}
                        </span>
                    </h4>
                    <div id="trending_home" class="row owl-carousel owl-theme">
                        <div class="row">
                            {% for key,item in latest %}
                                {% if item.slug != object.slug %}
                                    <div class="col-md-12">
                                        <div
                                            class="d-flex">
                                            <!-- Image -->
                                            <a href="{{ item.uri }}" class="post-link">
                                                <img src="{{ item.file }}" alt="John Doe" class="me-3 rounded" style="width: 100px; height: 75px;"/>
                                            </a>
                                            <!-- Body -->
                                            <div>
                                                <div class="fw-bold">
                                                    <small class="text-muted">{{ item.created_at|format_datetime('full', 'none', locale='fr') }}
                                                        -
                                                        <i class="fa fa-eye"></i>
                                                        {{ item.viewed }}</small>
                                                </div>
                                                <p class="fw-bold">
                                                    {{ item.title|title|u.truncate(70, '...') }}<br />
                                                    <span class="badge mainBg">
                                                        {{ item.category.title|upper }}
                                                    </span>
                                                </p>
                                                
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
    no data
{% endif %}
