<div class="row mb-2 pt-2">
    <div class="col-md-12">
        <h4 class="block-title">
            <span class="">{{ title|upper }}
            </span>
        </h4>
        <div id="trending_home" class="row">
            <div class="row mb-3">
                {% for key,item in data %}
                <div class="col-md-3 mb-3">
                    {% include 'cards/trending-card.twig' with {'item': item} %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
