<div class="row mb-2 pt-2">
    <div class="col-md-12">
        <h4 class="block-title">
            <span class="">{{title|upper}}
            </span>
        </h4>
        <div id="trending_home" class="row owl-carousel owl-theme">
            <div class="row">
            {% for key,item in data %}
                {% if key == 0 %}
                    <div class="col-md-12 col-lg-4">
                        {% include 'cards/mdb-card.twig' with {'item': item} %}
                    </div>
                {% endif %}
            
            {% endfor %}

                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        {% for key,item in data %}
                            {% if key != 0 and item.featured != 1 %}
                                    <div class="col-md-6 mb-2">
                                        {% include 'cards/media-card.twig' with {'item': item} %}
                                    </div>
                                
                            {% endif %}
                        
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>