<div class="row mb-2 pt-2">
    <div class="col-md-12">
        <h4 class="block-title">
            <span class="">{{ title|upper }}
            </span>
        </h4>
        <div class="glider-contain">
            <div class="glider">
                {% for key,item in data %}
                    <div class="col-md-3 p-3">
                        {% include 'cards/trending-card.twig' with {'item': item} %}
                    </div>
                    {% endfor %}
            </div>
            <button class="glider-prev display-none">&laquo;</button>
            <button class="glider-next display-none">&raquo;</button>
        </div>
    </div>
</div>
