<div class="row mb-2 pt-2">
    <div class="col-md-12 col-lg-8">
        <h4 class="block-title">
            <span class="">{{ titles[0]|upper }}
            </span>
        </h4>
        <div id="trending_home" class="row owl-carousel owl-theme">
            <div class="row mb-3">
                {% for key,item in data %}
                    {% if key == 0 or key == 1 %}
                        <div class="col-md-6">
                            {% include 'cards/trending-card.twig' with {'item': item} %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% for key,item in data %}
                            {% if key != 0 and key != 1 and item.featured != 1 %}
                                <div class="col-md-6 mb-2">
                                    {% include 'cards/media-card.twig' with {'item': item} %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-4">
        <h4 class="block-title">
            <span class="">{{ titles[1]|upper }}
            </span>
        </h4>
        <div id="trending_home" class="row owl-carousel owl-theme">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        {% for key,item in data2 %}
                        <div class="col-md-6 col-lg-12 mb-2">
                            {% include 'cards/text-card.twig' with {'item': item} %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
