<div class="row mb-2 pt-2">
    <div class="col-md-12 col-lg-8">
        <h4 class="block-title">
            <span class="">{{ 'Politique'|upper }}
            </span>
        </h4>
        <div id="trending_home" class="row owl-carousel owl-theme">
            <div class="row">
                {% for key,item in data %}
                    {% if key == 0 %}
                        <div class="col-md-6">
                            {% include 'cards/mdb-card.twig' with {'item': item} %}
                        </div>
                    {% endif %}

                {% endfor %}

                <div class="col-md-6">
                    {% for key,item in data %}
                        {% if key != 0 %}
                            <div class="row">
                                <div class="col-md-12 mb-2">
                                    {% include 'cards/media-card.twig' with {'item': item} %}
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-md-none d-lg-block">
        <h4 class="block-title text-center">
            <span class="">{{ 'Annonces'|upper }}
            </span>
        </h4>
        <div id="annonce_home" class="row owl-carousel owl-theme">
            <div
                class="col-md-12">
                <!-- Carousel wrapper -->
                <div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">

                    <!-- Inner -->
                    <div class="carousel-inner">
                        {% for key,item in annonce %}
                            {% if key == 0 %}
                                <div class="carousel-item active">
                                    <a href="{{ item.uri }}">
                                        <img src="{{ item.file }}" class="d-block w-100" alt="{{item.title}}" style="max-height: 350px" />
                                    </a>
                                </div>
                            {% else %}
                                <div class="carousel-item">
                                    <a href="{{ item.uri }}">
                                        <img src="{{ item.file }}" class="d-block w-100" alt="{{item.title}}" style="max-height: 350px" />
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <!-- Inner -->
                </div>
                <!-- Carousel wrapper -->
            </div>
        </div>
    </div>
</div>
