<div class="row mb-2 pt-2">
    <div class="col-md-12 col-lg-6 col-sm-12 mb-3">
        {% for key,item in data %}
                {% if item.featured == 1 %}
                    {% include 'cards/trending-card.twig' with {'item': item} %}
                {% elseif key == 0 %}
                    {% include 'cards/trending-card.twig' with {'item': item} %}
                {% endif %}
            {% endfor %}
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="row">
        {% for key,item in data %}
            {% if key != 0 %}
            
                <div class="col-md-6">
                    <div class="content-wrapper mb-2">
                        <div class="news-card" style="height: 30%;">
                            <a href="{{item.uri}}" class="news-card__card-link post-link" onclick=""></a>
                            <img src="{{item.file}}" alt="" class="news-card__image" style="height: 156px;">
                            <div class="news-card__text-wrapper">
                              <h5 class="news-card__title2 ">{{item.title|title}}</h5>
                              <div class="news-card__post-date">{{ item.created_at|format_datetime('full', 'none', locale='fr') }} - <i class="fa fa-eye"></i> {{item.viewed}}</div>
                              <div class="news-card__details-wrapper">
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            {% endif %}
                
        {% endfor %}
        </div>
    </div>
</div>