<div class="card border-light shadow-0">
    <a href="{{ item.uri }}" class="post-link">
        <img src="{{ item.file }}" class="card-img-top" alt="Hollywood Sign on The Hill"/>
    </a>

    <div class="card-body">
        <h5 class="title">{{ item.title|title }}</h5>
        <div class="meta-info mb-2">
            <section
                class="d-flex justify-content-lg-between">
                <!-- Left -->
                <div class="me-5 d-none d-lg-block">
                    <span class="">{{ item.created_at|format_datetime('full', 'none', locale='fr') }}</span>
                </div>

                <div class="float-right text-muted">
                    <i class="fa fa-eye"></i>
                    {{ item.viewed }}
                </div>
            </section>
        </div>
        <p class="resume">
            {{ item.resume }}
        </p>
    </div>
</div>