<div class="d-flex">
    <!-- Image -->
    <a class="post-link" href="{{item.uri}}">
        <img src="{{ item.file }}" alt="John Doe" class="me-3 rounded" style="width: 100px; height: 75px;"/>
    </a>
    <!-- Body -->
    <div>
        <div class="fw-bold">
            <small class="text-muted">{{ item.created_at|format_datetime('full', 'none', locale='fr') }}
                -
                <i class="fa fa-eye"></i>
                {{ item.viewed }}</small>
        </div>
        <p class="fw-bold">
            {{ item.title|title }}
        </p>
    </div>
</div>