<div class="d-flex">
    <div>
        <div class="fw-bold">
            <small class="text-muted">{{ item.created_at|format_datetime('full', 'none', locale='fr') }}
                -
                <i class="fa fa-eye"></i>
                {{ item.viewed }}</small>
        </div>
        <p class="fw-bold">
            <a class="post-link" href="{{item.uri}}">{{ item.title|title }}</a>
        </p>
    </div>
</div>