<div class="content-wrapper">
    <div class="news-card">
        <a href="{{item.uri}}" class="news-card__card-link post-link" onclick=""></a>
        <img src="{{item.file}}" alt="" class="news-card__image img-fluid img-responsive" >
        <div class="news-card__text-wrapper">
          <h5 class="news-card__title">{{item.title|title}}</h5>
          <div class="news-card__post-date">{{ item.created_at|format_datetime('full', 'none', locale='fr') }} - <i class="fa fa-eye"></i> {{item.viewed}}</div>
          <div class="news-card__details-wrapper">
            <p class="news-card__excerpt"></p>
          </div>
        </div>
      </div>
</div>